.header img {
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: black;
    line-height: 50px;
    padding: 2px;
    font-size: 30px;
    /* padding: 5px; */
}
nav a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
    padding: 5px;
}
nav a:hover{
    background-color: brown;
    /* cursor: pointer; */
}